{% extends "base.html" %}
{% block content %}

<h2 class="text-center p-3">感情分析集計グラフ</h2>

<div class="graph mx-auto" style="max-width: 80rem;">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {% if '確認' in message %}
                    <div class="alert alert-success text-start" role="alert">
                        {{ message }}
                    </div>
                {% else %}
                    <div class="alert alert-danger text-start" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="card mb-5 shadow-sm rounded-4">
        <img src="data:image/png;base64,{{ graph }}" class="img-fluid rounded-4"/>
        <div class="card-body pt-3 border-top">
            <h4 class="card-title">感情度合いの推移</h4>
            <p class="card-text">
                この折れ線グラフは今までに記録された日記の分析された感情度合いについて、その推移を表したものです。
                一般的に感情度合いが高いほどポジティブな感情を表し、低いほどネガティブな感情を表します。
            </p>
            <p class="card-text"><small class="text-body-secondary">グラフはmatplotlibによりページ更新時に生成</small></p>
        </div>
    </div>
    <div class="card mb-5 shadow-sm rounded-4">
        <img src="data:image/png;base64,{{ pie }}" class="img-fluid rounded-4"/>
        <div class="card-body pt-3 border-top">
            <h4 class="card-title">感情の種類の集計</h4>
            <p class="card-text">
                この円グラフは今までに記録された日記の感情の種類（happyやsadなど）について、あなたの日記全体に占める割合を示します。
                それぞれの感情の割合を確認することができます。
            </p>
            <p class="card-text"><small class="text-body-secondary">グラフはmatplotlibによりページ更新時に生成</small></p>
        </div>
    </div>
</div>

{% endblock %}