<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EmoDialog</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    </style>
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    {% block extra_css %}
    {% endblock %}
</head>
<body>
    <header>
        <h1>
            <a href="{{ url_for('indexPage') }}">EmoDialog</a>
        </h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('signUpPage') }}">SIGN UP</a></li>
                <li><a href="{{ url_for('loginPage') }}">LOGIN</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>

    {{ bootstrap.load_js() }}
    {% block extra_js %}
    {% endblock %}
</body>
</html>