{% extends "base.html" %}
{% block content %}

<h2 class="text-center p-3">日記個別ページ</h2>



<div class="card mx-auto mb-4 shadow-sm" style="max-width: 64rem;">
    <div class="card-header">作成日時: {{ diary.create_at.strftime('%Y/%m/%d %H:%M') }}</div>
    <div class="card-header">最終更新: {{ diary.update_at.strftime('%Y/%m/%d %H:%M') }}</div>
    <div class="card-body">
        <div class="emotion mb-3">
            <h5 class="card-title mb-2">感情: {{ diary.emotion }}</h5>
            <div class="progress mb-2" role="progressbar">
                <div class="progress-bar bg-success" style='width: {{ diary.emotion_degree }}%'>{{ diary.emotion_degree }}%</div>
            </div>
        </div>
        <div class="card-text mb-2 overflow-hidden">
            記録内容
        </div>
        {% if diary.response != "" %}
            <div class="card bg-body-tertiary mb-3">
                <div class="card-text m-2 overflow-hidden">
                    {{ diary.body }}
                </div>
            </div>
            <div class="card-text mb-2 overflow-hidden">
                EmotionAIからの返答
            </div>
            <div class="card bg-body-tertiary mb-3">
                <div class="card-text m-2 overflow-hidden">
                    {{ diary.response }}
                </div>
            </div>
        {% else %}
            <div class="card-text">
                No Description
                <p class="card-text placeholder-glow">
                    <span class="placeholder col-7"></span>
                    <span class="placeholder col-4"></span>
                    <span class="placeholder col-4"></span>
                    <span class="placeholder col-6"></span>
                    <span class="placeholder col-8"></span>
                </p>
            </div>
        {% endif %}
        <div class="text-end">
            <div class="btn-group my-2" role="group">
                <a href="/diaries/{{ diary.id }}/edit" class="btn btn-secondary">Edit</a>
                <a href="/diaries/{{ diary.id }}/delete" class="btn btn-danger" id="delete_diary">Delete</a>
            </div>
        </div>
    </div>
</div>

<article>
    <p>id</p>
    <p>{{ diary.id }}</p>

    <p>user_id</p>
    <p>{{ diary.user_id }}</p>

    <p>create at</p>
    <p>{{ diary.create_at }}</p>

    <p>update at</p>
    <p>{{ diary.update_at }}</p>

    <p>body</p>
    {% if diary.body != "" %}
        <p>{{ diary.body }}</p>
    {% else %}
        <p>No Description</p>
    {% endif %}

    <p>response</p>
    {% if diary.response != "" %}
        <p>{{ diary.response }}</p>
    {% else %}
        <p>No Response</p>
    {% endif %}

    <p>emotion</p>
    {% if diary.emotion != "" %}
        <p>{{ diary.emotion }}</p>
    {% else %}
        <p>No Emotion</p>
    {% endif %}

    <p>emotion_degree</p>
    {% if diary.emotion_degree != "" %}
        <p>{{ diary.emotion_degree }}</p>
    {% else %}
        <p>No Emotion Degree</p>
    {% endif %}
    <div class="btn-group" role="group">
        <a href="/diaries/{{ diary.id }}/edit" class="btn btn-secondary">Edit</a>
        <a href="/diaries/{{ diary.id }}/delete" class="btn btn-danger" id="delete_diary">Delete</a>
    </div>
</article>

<div id="diaryBody" data-message="{{ diary.body }}"></div>
{% endblock %}