{% extends "base.html" %}
{% block content %}

<h2 class="text-center p-3">日記の一覧</h2>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            {% if '確認' in message %}
                <div class="alert alert-success text-start mx-auto" role="alert" style="max-width: 48rem;">
                    {{ message }}
                </div>
            {% else %}
                <div class="alert alert-danger text-start mx-auto" role="alert" style="max-width: 48rem;">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endwith %}

{% for diary in diaries %}
<div class="card mx-auto mb-4 shadow-sm" style="max-width: 48rem;">
    <div class="card-header">{{ diary.create_at.strftime('%Y/%m/%d %H:%M') }}</div>
    <div class="card-body">
        <h5 class="card-title mb-2">{{ diary.emotion }}</h5>
        <div class="progress mb-2" role="progressbar">
            <div class="progress-bar bg-success" style='width: {{ diary.emotion_degree }}%'>{{ diary.emotion_degree }}%</div>
        </div>
        {% if diary.body != "" %}
            <div class="card bg-body-tertiary my-3">
                <div class="card-text m-2 overflow-hidden">
                    {{ diary.body }}
                </div>
            </div>
            <div class="card-text mb-2 overflow-hidden">
                {{ diary.response }}
            </div>
        {% else %}
            <div class="card-text">
                No Description
            </div>
        {% endif %}
        <a href="/diaries/{{ diary.id }}" class="btn btn-outline-primary my-2">See Detail</a>
    </div>
</div>
{% endfor %}

{% endblock %}