{% extends "base.html" %}
{% block content %}

<h2>DiaryPage</h2>
<article>
    <p>id</p>
    <p>{{ diary.id }}</p>

    <p>user_id</p>
    <p>{{ diary.user_id }}</p>

    <p>create at</p>
    <p>{{ diary.create_at }}</p>

    <p>update at</p>
    <p>{{ diary.update_at }}</p>

    <p>body</p>
    {% if diary.body != "" %}
        <p>{{ diary.body }}</p>
    {% else %}
        <p>No Description</p>
    {% endif %}

    <p>response</p>
    {% if diary.response != "" %}
        <p>{{ diary.response }}</p>
    {% else %}
        <p>No Response</p>
    {% endif %}

    <p>emotion</p>
    {% if diary.emotion != "" %}
        <p>{{ diary.emotion }}</p>
    {% else %}
        <p>No Emotion</p>
    {% endif %}

    <p>emotion_degree</p>
    {% if diary.emotion_degree != "" %}
        <p>{{ diary.emotion_degree }}</p>
    {% else %}
        <p>No Emotion Degree</p>
    {% endif %}
    <a href="/diaries/{{ diary.id }}/edit">edit</a>
    <a href="/diaries/{{ diary.id }}/delete">delete</a>
</article>


{% endblock %}