{% extends "base_unauthorized.html" %}
{% block content %}

<div class="d-flex align-items-center justify-content-center m-5 py-3">
    <div class="form-signin w-50 h-50">
        <form method="POST" id="sign_up_form">
            <h1 class="h3 mb-3 fw-normal">User Sign Up</h1>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="username" placeholder="Username" id="username">
                <label for="floatingInput">User Name</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" name="password" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
        
            <input class="btn btn-primary w-100 py-2" type="submit" value="Sign Up" id="sign_up">
        </form>
        <p class="py-3">アカウント登録済みの場合：<a href="{{ url_for('loginPage') }}">ログイン</a></p>
    </div>
</div>


{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='js/sign_up.js') }}"></script>
{% endblock %}